<html>
<head>
	<title>Ask question</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<!--<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="../css/forum.css" rel="stylesheet">

	<script>
	function populate(s1,s2){
	var s1 = document.getElementById(s1);
	var s2 = document.getElementById(s2);
	s2.innerHTML = "";
	if(s1.value == "COGS 120"){
		var optionArray = ["|","Participant Observation|Participant Observation", "Wizard of Oz|Wizard of Oz","Interviewing|Interviewing", "Heuristics Understanding|Heuristics Understanding", "NeedFinding Strategies|NeedFinding Strategies", "Heuristics Evaluation|Heuristics Evaluation", "Paper Prototypes and Mockups|Paper Prototypes and Mockups", "Video Prototyping|Video Prototyping"];
	}
	else if(s1.value == "DSGN 1"){
		var optionArray = ["|","The Design of Everyday Things|The Design of Everyday Things"];
	} 

	else if(s1.value == "COGS 100"){
		var optionArray = ["|","[TODO]|[TODO]"];
	}

	else if(s1.value == "DSGN 100"){
		var optionArray = ["|","Lupton on Letter, Text, Grid|Lupton on Letter, Text, Grid", "10 Tips for Perfect Poster Design|10 Tips for Perfect Poster Design", "Color Theory for Designers|Color Theory for Designers", "Digital Ethnography in UX|Digital Ethnography in UX", "Storyboarding in UX Design by Nick Babich|Storyboarding in UX Design by Nick Babich"];
	}

	else if(s1.value == "COGS 10"){
		var optionArray = ["|","Smartphones and Cognition|Smartphones and Cognition", "How Internet has Changed Everyday Life|How Internet has Changed Everyday Life", "How the mysterious dark net is going mainstream|How the mysterious dark net is going mainstream", "What defines a meme|What defines a meme", "The age of synthesis|The age of synthesis", "How deepfakes undermine truth and threaten democracy|How deepfakes undermine truth and threaten democracy", "Viewpoint: The questionable science behind Elon Musk’s Neuralink brain hacking project|Viewpoint: The questionable science behind Elon Musk’s Neuralink brain hacking project","Human Enhancement|Human Enhancement"];
		}

	else if(s1.value == "CSE 87"){
		var optionArray = ["|","[TODO]|[TODO]"];
	}

	for(var option in optionArray){
		var pair = optionArray[option].split("|");
		var newOption = document.createElement("option");
		newOption.value = pair[0];
		newOption.innerHTML = pair[1];
		s2.options.add(newOption);
	}
} 
	</script>

</head>

<body>
<div>
	<!-- Back button. -->
	<div style="position:fixed; top:0; margin-top:10px">
		<script>
			function goBack() {
  				window.history.back();
			}
		</script>
		<button onclick="goBack()" class="back-button"><</button>
	</div>

	<div style="margin:80px auto;"><div class="question_page">
		<form id="questionForm" role="form" onsubmit="window.alert('Question posted! :D\nWaiting for respond.')" method="GET" action="/newpost">
		<!-- Question enter box. -->
		<div class="enter_question_div">
			<textarea class="enter_question" id="question" name="question" placeholder="Enter question" required></textarea>
		</div>

		<!-- Options for specifying question. -->
		<div class="question_options"><!-- class -->
			<label for="className">Class:</label>
			<select id="className" name="className" onchange="populate(this.id,'readingName')" class="option_box">
				  <option disabled selected value>
					--- choose class ----------------------------------------
				</option>
				{{#each data.classes}}
				<option value = "{{class}}">{{class}}</option>
				{{/each}}
			</select>
		</div>


		<div class="question_options">
			<!-- reading title -->
			<label for="className">Reading:</label>
			<select id="readingName" name="readingName" class="option_box"> 
				<option disabled selected value>
					--- choose reading --------------------------------------
				</option>
			</select>
		</div>
		<div class="question_options"><!-- attatched passage -->
			<!--p style="margin:5px;">
				Passage (optional): <br><span class="question_selected" style="font-size:15px;">For example, distributed cognition in the libr...</span>
				<button class="option_button">></button>
			</p>-->
			<label for="passage">Passage (optional):</label>
				<button onclick = "window.location.href = '/index/read'" style="float: right; margin-right: 10px; margin-top: 10px"> > </button>
			<p id="attatched_passage"></p>
		</div>
		<div class="question_options" style="margin-bottom:20px"></div>
		<div style="text-align:center;">
			<button onclick="goBack()" class="new-question-button" style="width:145px; max-width:35%;">Cancel</button>
			<input type="submit" id="submitBtn" class="new-question-button" style="width:145px; max-width:35%; margin-left:20%" value="↑ Post"></input>
		</div></form>
	</div></div>

	<script>
		/* Disable enter in question input box. */
		$(".enter_question").keypress (function (e) {
			console.log ($(this));
			console.log ($(".enter_question"));
			if (e.which == '13') {
				e.preventDefault();
			}
		})

	</script>
</body>
</html>
