<html>
<head>
	<title>Upload</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

	<!-- /Added -->

</head>

<body>
	<div>
		<div class="upload_reading_text">
			<h2>Upload Reading</h2>
		</div>

		<div class="upload_box">
			<form action="/upload_success">
				  <label for="myfile" class="file_up_text">Select a file to upload:</label>
				  <input type="file" id="myfile" name="myfile" class="file_choose" required><br><br>

				<div>
					<select class = "class-options" required>
						<option disabled selected value>
						--- choose class ----------------------------------------
						</option>
						{{#each classes}}
				        <option value = "class_name">{{class}}</option>
				        {{/each}}
			      	</select>
				</div>	

				<div>
				  <button onclick="window.location.href='/upload'" class="upload_button">Back</button>
				  <input type="submit" class="upload_button" value="Upload"/></input>
				</div>

			</form> 
		</div>

		<nav class = "navigationbar">
		<a href="/" class = "nav_bar">
			<span class="material-icons">import_contacts</span>
			<span class="navBar_text">Library</span>
		</a>

		<a href="/upload" class = "nav_bar nav_bar--active">
			<span class="material-icons">add</span>
			<span class="navBar_text">Upload</span>
		</a>

		<a href="/forum" class = "nav_bar">
			<span class="material-icons">forum</span>
			<span class="navBar_text">Forum</span>
		</a>
	</nav>
	</div>
</body>
</html>