<html>
<head>
	<title>Upload</title>

	<!-- Added -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<!--<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">-->
	<link href="css/forum.css" rel="stylesheet">
	<link href="css/library-home.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/upload.css" rel="stylesheet">
	<link href="css/login-register.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

	<!-- /Added -->

</head>

<body>
	<div>
		<div class="upload_reading_text">
			<h2>Upload Reading</h2>
		</div>

		<div class="upload_box">
			<form action="/upload_success">
				 <label for="url" class="file_up_text">Enter URL:</label>
				 <input type="url" id="url" name="url" required><br><br>
				 
				<div>
					<select class = "class-options" required>
						<option disabled selected value>
					--- choose class ----------------------------------------
					</option>
						{{#each classes}}
			       		<option value = "class_name">{{class}}</option>
			        	{{/each}}
		      		</select>
				</div>	

				 <button onclick="window.location.href='/upload'" class="upload_button">Back</button>
				 <input type="submit" class="upload_button" value="Upload"></input>
			</form>
		</div>
	</div>
</body>
</html>