.phone {  /* abandoned */
  margin: 20px;
  width: 414px;
  height: 896px;
  border: 5px solid #e4e4e4;
}

/* easier responsive solution */
.column {
	margin: 0 40px;
	column-count: 2;
	column-gap: 40px;
	text-align: center;
}

.class-card{
	width: 165px;
	height: 137px;
	margin-top: 40px;
	/*margin-left: auto;
	margin-right: auto;*/
	background: #e4e4e4;
	border-radius: 8px;
	text-align: center;
}
/*.class-card.cont{
	width: 119px;
	height: 30px;
	margin-top: 138px;
	margin-left: 44px;
	font-size: 25px;
	line-height: 30px;
}*/

.reading-card{
	width:165px;
	height:137px;
	margin-top: 32px;
	background: #e4e4e4;
	border-radius: 8px;
	text-align: center;
}
/*.reading-card.cont{
	width:109px;
	height:110px;
	margin-left: 61px;
	margin-top: 129px;
	font-size:20px;
	line-height:24;
	text-align: center;
}*/
.fixed_header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.back-button {
  padding: 20px;
  font-size: 30px;
  line-height: 30px;
  color: #333333;
  border: none;
  background: none;
  margin-left: 16px;
  margin-top: 16px;
  float: left;
}
.highlight-ops{
	position: fixed;
	margin: 0px 0px 0 50px;
	width: 25%;
	height:25%;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	/*margin: 4px 2px;*/
  	cursor: pointer;
  	border-radius:50%;
}
.hlButton{ /* yellow */
	margin-top: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}
.hlcolor1{ /* yellow */
	background-color: #FAFC43;
}
.hlcolor2 { /* Blue */
	background-color: #B3E9FA;
}
.hlcolor3 { /*green */
	background-color: #A2FBA4;
	margin-right: 5vw;
}
.hlbutton_chosen {
	border-width: 3px;
}
.forum-icon{
	float: right;
	margin-top: 10px;
	margin-right:10px;
	text-align: center;	
	border: none;
	background: none;
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	min-width: 50px;
	overflow: hidden;
	white-space: nowrap;*/
	font-family: lato;
	font-size: 25px;
	color: #000000;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
.forum-icon:hover {
	color: #888888;
}
.highlight-icon{
	margin-top: 10px;
	margin-right:0;
	border: none;
	background: none;
	text-align: center;	
	vertical-align: top;
	/*display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	min-width: 50px;
	overflow: hidden;
	white-space: nowrap;*/
	font-family: lato;
	font-size: 15px;
	color: black;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
.word-content{
	margin: 32px 15px;
	font-size: 25px;
	line-height: 30px;
}
.markYellow{ 
	background-color: yellow;
  	color: black;
}
.markBlue{
	background-color: lightblue;
	color:black;
}
.markRed{
	background-color: pink;
	color: black;
}
/*.column{
	float: left;
	width: 50%;
	text-align: center;
}
//clearing floats
.row:after{
	content:"";
	display:table;
	clear:both;
}
//making three columns stack on top of each other
@media screen and (max-width:600px){
	.column{
		width:50%;
	}
}*/